.modal-wrapper {
    background-color: rgba(128, 128, 128, .4);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal {
    padding: 1rem;
    border: 3px solid purple;
    background-color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}